﻿@model jobshow.Models.job

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>job</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.jobName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobDetails)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobDetails)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jobRequirement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jobRequirement)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.jobId }) |
    @Html.ActionLink("Back to List", "List")
</p>
