﻿@model IEnumerable<jobshow.Models.job>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.jobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobDetails)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobRequirement)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.jobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobDetails)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobRequirement)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.jobId }) |
            @Html.ActionLink("Details", "Details", new { id=item.jobId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.jobId })
        </td>
    </tr>
}

</table>
