﻿@model jobshow.Models.company

@{
    ViewBag.Title = "Details";
}

<h2>Deatils</h2>

<div>
    <h4>company</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.companyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyownerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyownerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.companyType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.companyType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.companyId }) |
    @Html.ActionLink("Back to List", "list")
</p>
